web-client/node_modules/
web-client/bower_components/
NannyTime.Api/packages/
NannyTime.Api/NannyTime.Api/bin/
NannyTime.Api/NannyTime.Api/obj/
NannyTime.Api/NannyTime.Api/App_Data/
.idea/
NannyTime.Api/NannyTime.Api.v12.suo
NannyTime.Api/NannyTime.Api/Properties/PublishProfiles/


