<div class="submit-time-container">
    <div>
        <span class="not-submitted" ng-if="!submissionInProgress && !submissionComplete">
            YOU HAVE NOT SUBMITTED ANY TIME
        </span>
        <span class="in-progress" ng-if="submissionInProgress && !submissionComplete">
            Please wait while your time is being processed...
        </span>
        <span class="complete" ng-if="submissionComplete && !submissionInProgress">
            Your have successfully submitted time!
        </span>
    </div>
    <div>
        <label>Date</label>
        <input type="text" bs-datepicker ng-model="selectedDate" ng-disabled="submissionComplete" />
    </div>
    <div>
        <label>Start Time</label>
        <input type="text" bs-timepicker ng-model="startTime" ng-disabled="submissionComplete" />
    </div>
    <div>
        <label>Stop Time</label>
        <input type="text" bs-timepicker ng-model="endTime" ng-disabled="submissionComplete" />
    </div>
    <div data-ng-show="!submissionComplete && !submissionInProgress">
        <button class="btn btn-primary btn-large" data-ng-click="submit()">Save</button>
    </div>
    <div data-ng-show="submissionInProgress" class="please-wait">
        <span>Please wait... Time is being submitted</span>
    </div>
    <div data-ng-show="submissionComplete" class="success">
        <span>Success</span>
        <br/><br/>
        <button class="btn btn-primary btn-large" data-ng-click="submitMoreTime()">Add New Entry</button>
    </div>
</div>