<div class="submit-time-container">
    SUBMIT TIME
    <div>
        <label>Date</label>
        <input type="text" bs-datepicker ng-model="selectedDate" />
    </div>
    <div>
        <label>Start Time</label>
        <input type="text" bs-timepicker ng-model="startTime" />
    </div>
    <div>
        <label>Stop Time</label>
        <input type="text" bs-timepicker ng-model="endTime" />
    </div>
    <div>
        <button class="btn btn-primary btn-large" data-ng-click="submit()">Save</button>
    </div>
</div>